@charset "UTF-8";
 body{
     background-color:aliceblue;
 }
 h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
 }
 h2{
     font-family:Arial, Helvetica, sans-serif;
 }
 h3{
     font-family:Arial, Helvetica, sans-serif;
 }
 p{
     font-family:Verdana, Geneva, Tahoma, sans-serif;
 }
 ul{
     font-family:Verdana, Geneva, Tahoma, sans-serif;
 }
 code{
     font-size:16px;
 }